#container{
    width:60%;
    margin:auto;
}

@media screen and (max-width: 768px){
    #container{
        width:90%;
    }
    h1{
        font-size:200%;
    }
}

body{
	font-family: garamond, serif;
	color: black;
    background-color: rgb(251, 238, 220);
}

h1{
	font-size: 300%;
    text-align:center;
}

h1,h2{
	color: rgb(53, 38, 18);
	text-transform: uppercase;
    font-weight: 120;
}

img{
	width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer{
    margin-top:70px;
    background-color:rgb(44, 32, 15);
    color:white;
}

footer p{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
