body {
	font-family: Voga;
	color: rgb(125, 140, 155);
}

h1 {
	font-size: 300%;
  text-align:center;
}

h1,
h2 {
	color: rgb(76, 44, 104);
	text-transform: uppercase;
	font-weight: 120;
}

img {
	width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer{
    margin-top:70px;
    background-color:rgb(97, 113, 150);
    color:white;
}

footer p{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
